@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
    background-color: rgb(255, 206, 206);
    font-family: 'Montserrat', sans-serif;
  }
  .container{
    align-items: center;
    border-style: solid;
    height: 20rem;
    width: 25rem;
    margin: auto;
    text-align: center;
    background-color: aquamarine;
    
  }